*{
    box-sizing: border-box;
    margin: 0;
    padding: 0
}



body{
    background-color: black;
}

#first{
    background-color: gold;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 24px;
}

.sidebar{
    background-color: gold;
}